* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.rest-cont {
    /* background-color: aqua; */
    display: flex;
    width: 80%;
    margin: auto;
    /* margin-top: 7%; */
}

.rest-heading {
    display: flex;
    justify-content: center;
}

.img-text {
    margin-left: 5%;
    margin-top: 8%;
    font-weight: 700 ;
    line-height: 200%;
}

.navigation {
    display: flex;
    justify-content: center;
    background-color: burlywood;
}

.navigation a {
    text-decoration: none;
    margin: 3%;
    font-weight: 800;
    font-size: 20px;
    color: black;
    
}

.navigation a:hover {
    color: gray;
}

.first-container {
    display: flex;
    width: 80%;
    margin: auto;
}

.menu-image {
    width: 50%;
    /* height: 200px; */
}

.menu-class {
    width: 40%;
    margin: auto;
}

.our-menu {
    text-align: center;
}

.price {
    font-weight: 600;
}

.second-cont {
    margin-top: 5%;
}

.main-contact-div {
    background-image: url("/assets/restaurant-2-business.jpg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: 90vh;
    overflow: hidden;
}

.main-contact {
    width: 80%;
    margin:auto;
}

.contact-title {
    text-align: center;
}

.contact-desc {
    text-align: center;
    font-size: 20px;
    line-height: 200%;
}

.social-links-container {
    width: 90%;
    margin: auto;
    padding-left: 32%;
}

.get-social {
    font-size: 50px;
    margin: 4%;
}