.rest-cont {
    /* background-color: aqua; */
    display: flex;
    width: 80%;
    margin: auto;
    /* margin-top: 7%; */
}

.rest-heading {
    display: flex;
    justify-content: center;
}

.img-text {
    margin-left: 5%;
    margin-top: 8%;
    font-weight: 700 ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 200%;
}

.navigation {
    display: flex;
    justify-content: center;
    background-color: burlywood;
}

.navigation a {
    text-decoration: none;
    margin: 3%;
    font-weight: 800;
    font-size: 20px;
    color: black;
    
}

.navigation a:hover {
    color: gray;
}

.first-container {
    display: flex;
    width: 80%;
    margin: auto;
}

.menu-image {
    width: 50%;
    /* height: 200px; */
}

.menu-class {
    width: 40%;
    margin: auto;
}

.our-menu {
    text-align: center;
}